
<div class="container">
  <h1>Top-ups</h1>
  <div class="row">
    <% @topups.each do |topup| %>
    <div class="col-6 col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= topup.name %></h5>
          <p>Amount:
  <%= simple_form_for @topup do |f| %>
              <%= f.input :amount, required: true, as: :float, hint: 'Please enter a multiplier of 0.25' %>
            <% end %>
            </p>
          <%= form_tag orders_path do %>

          <%= hidden_field_tag 'topup_id', topup.id %>
          <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
