<div class="container">

  <h3><%= @lobby.title%> -- 1 VS 1</h3>
  <%= render 'shared/_challengecard', lobby: lobby %>

  <div><h5>GAME RULES</h5>
    <ul>
      <li>Don't fuck around</li>
      <li>No descrimination</li>
      <li>if you fuck around you get banned</li>
      <li>be a good sport</li>
    </ul>
  </div>
  <p><%= "#{@message.user.username}: #{@message.content}" %></p>
</div>

<%= simple_form_for Message.new do |f| %>
  <%= f.input :content%>
  <%= f.button :submit %>
<% end %>
