<div class="container mt-4">
<%= link_to lobby_path(@lobby), class:"btn-back" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

  <h3><%= @lobby.title%> -- 1 VS 1</h3>
  <%= render 'shared/sessionbeefcard' %>

  <div class="custom-rules border-top border-bottom pt-3 pb-3">
    <h5>GAME RULES</h5>
    <ul style="list-style-type: none;">
      <li>-4.5 stars or less</li>
      <li>-6 minutes a half</li>
      <li>-Club teams only</li>
      <li>-No descrimination</li>
    </ul>
  </div>
  <% @session.messages.each do |message| %>
    <div class="msg-body d-flex align-items-center">
      <%= cl_image_tag message.user.avatar, class:"avatar-msg" %> <p id="message-txt"><strong><%= "#{message.user.username}"%></strong>: <%="#{message.content}" %></p>
    </div>
  <% end %>
  <div class="messenger-tab">
  <%= simple_form_for [@session, Message.new] do |f| %>
    <%= f.input :content, label: "Type a message here"%>
    </div>
  <div class="d-flex justify-content-end">
    <%= f.submit "Send", class: 'messenger-button'%>
  </div>
  <% end %>
  <a href="" class="btn btn-flat-orange"><strong>Join now</strong></a>
</div>


