<div class="container mt-4">

  <h3><%= @lobby.title%> -- 1 VS 1</h3>
  <%= render 'shared/sessionbeefcard' %>

  <div class="custom-rules">
    <h5>GAME RULES</h5>
    <ul style="list-style-type: none;">
      <li>-4.5 stars or less</li>
      <li>-6 minutes a half</li>
      <li>-Club teams only</li>
      <li>-No descrimination</li>
    </ul>
  </div>
  <% @session.messages.each do |message| %>
    <p>
      <%= "#{cl_image_tag message.user.avatar} #{message.user.username}: #{message.content}" %>
    </p>
  <% end %>
  <div class="messenger-tab">
  <%= simple_form_for [@session, Message.new] do |f| %>
    <%= f.input :content, label: "Type a message here"%>
    </div>
  <div>
    <%= f.submit "Send", class: 'messenger-button'%>
  </div>
  <% end %>
</div>


