<div class="container mt-4">


<%= link_to lobby_path(@lobby), class:"btn-back" do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>

  <h3><%= @lobby.title%> -- 1 VS 1</h3>
  <%= render 'shared/sessionbeefcard' %>

    <% if @session.user == current_user %>

    <div class="accordion" id="accordionExample">
      <h5 class="mb-0">
        <div class="d-flex justify-content-end">
          <a class="" style="color: white;" type="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Find an opponent
          </a>
        </div>
      </h5>


      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <div class="add-friend-link">
           <%= simple_form_for [@lobby, @session, @user_invite] do |f| %>
           <%= f.input :user, collection: User.all, label_method: ->(user) { user.username }, label: "Choose opponent!" %>
           <%= f.button :submit, class: "messenger-button" %>
           <% end %>
         </div>
       </div>
       <% end %>
     </div>
  </div>
  <div class="accordion custom-rules border-top border-bottom pt-3 pb-3 text-white" id="accordionExampl">
     <a class="d-flex" style="color: white; font-size: 28px; padding: 8px; margin-bottom: 12px;" type="" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne">
            Game rules
          </a>
      <div id="collapseOne2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExampl">
        <div class="card-body-rules">
          <div class="row rules"><div class="col-8">Star level: </div><div class="col-4"><%= @session.star_level %></div></div>
          <div class="row rules"><div class="col-8">Team type: </div><div class="col-4"><%= @session.team_type %></div></div>
          <div class="row rules"><div class="col-8">Half length: </div><div class="col-4"><%= @session.half_length %></div></div>
          <div class="row rules"><div class="col-8">Legacy defending: </div><div class="col-4"><%= @session.legacy_depending %></div></div>
          <div class="row rules"><div class="col-8">Match type: </div><div class="col-4"><%= @session.match_type %></div></div>
          <div class="row rules"><div class="col-8">Custom rules: </div><div class="col-4"><%= @session.custom_rules %></div></div>
        </div>
      </div>
  </div>
  <% @session.messages.each do |message| %>
    <div class="msg-body d-flex align-items-center">
      <%= cl_image_tag message.user.avatar, class:"avatar-msg" %> <p id="message-txt"><strong><%= "#{message.user.username}"%></strong>: <%="#{message.content}" %></p>
    </div>
  <% end %>
  <div class="messenger-tab">
  <%= simple_form_for [@session, Message.new] do |f| %>
    <%= f.input :content, label: "Type a message here"%>
    </div>
  <div class="d-flex justify-content-end">
    <%= f.submit "Send", class: 'messenger-button'%>
  </div>
  <% end %>
  <%= link_to "Join now", lobby_session_path(@lobby, @session), class:"btn btn-flat-orange", data: { confirm:"By pressing ok you agree with the rules. The #{@session.price}$ will be deducted from your account."} %>
</div>


<%#= @lobby.session.users.each do |user| %>

<%#= @users.map do |user| user.username%>

