<div class="game-banner">
  <div class="banner-info">
    <h1><%= @lobby.title.capitalize! %></h1>
    <%= link_to "create a game", new_lobby_session_path(@lobby) %>
  </div>
</div>

<h1><%= @lobby.title.capitalize! %></h1>
<%= render 'shared/beefcard' %>












<%= @sessions %>
<%#= link_to "join game", lobby_session_path(@lobby, @sessions) %>
<%= link_to "back to lobbies", root_path %>
