
<div class="main-navbar d-flex justify-content-between align-items-center px-3 py-1">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "beef.png" %>
  <% end %>
  <div class="main-navbar-menu">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= cl_image_tag current_user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Dashboard", "#", class: "dropdown-item" %>
            <%= link_to "Wallet: $#{current_user.wallet}", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <div class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link text-center" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
