<div class="container">
  <div class="beef-card" style="background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(248,138,43,1) 100%);">
    <div class="beef-card-info-s" >
      <% if (@session.user != current_user) && (@session.user_invites.any? { |invite| invite.user == current_user }) %>
        <p> <%= @session.status %> </p>
        <h2><%= @session.price*2 %>$</h2>
      <% elsif @session.status == "finished" %>
        <h2><%= @session.score1 %></h2>
        <h2>-</h2>
        <h2><%= @session.score2 %></h2>
      <% else %>
        <p>( entry: <%= @session.price %>$)</p>
        <h2><%= @session.price*2 %>$</h2>
      <% end %>
    </div>
    <div class="beef-card-avatar"><%= cl_image_tag @session.user.avatar %><h3><%= @session.user.username %></h3></div>

    <% if (@session.user != current_user) && (@session.user_invites.any? { |invite| invite.user == current_user }) %>
      <div class="beef-card-avatar-two"><h3 id="textx"><%= current_user.username%></h3><%= cl_image_tag current_user.avatar%></div>
    <% end %>
  </div>
</div>
