<div class="container text-white">
  <br>
  <h5>Pending requests on my sessions</h5>
  <div class="row d-flex align-items-center dashboard-card" style="background: linear-gradient(0deg, rgba(50,50,50,1) 5%, rgba(235,235,235,0) 43%, rgba(255,255,255,0) 49%);">
    <% @mysessions.each do |session|%>
      <% if session.user_invites.select{|n| n.status == "Pending" }.first %>
          <div class="col-4">
            <div class="beef-card-avatar-dashboard">
              <%= cl_image_tag session.user_invites.first.user.avatar %>
              <p><%= session.user_invites.first.user.username %></p>
            </div>
          </div>

            <div class="col-2">
                <h5 class="mt-2">  <%= session.price*2 %>$</h5>
                <%= session.user_invites.first.status %>
            </div>

            <div class="col-2">
            <%= link_to lobby_session_path(session.lobby, session), class:"d-flex align-items-center justify-content-between" do %>
                <i class="far fa-eye"></i>
            <% end %>
         </div>

            <div class="col-4 justify-content-end">
              <%= link_to 'accept', accept_path(user_invite_id: session.user_invites.first.id, session_id: session.id), method: :patch, class:"d-flex justify-content-end" do %>
                <i class="fas fa-check"></i>
              <% end %>
              <%= link_to 'decline', decline_path(user_invite_id: session.user_invites.first.id, session_id: session.id), method: :patch, class:"d-flex justify-content-end" do %>
                <i class="fas fa-times"></i>
              <% end %>
            </div>

      <% end %>
    <% end %>
  </div>
  <br>
  <h5>Waiting for opponent to accept my request</h5>
  <div class="row d-flex align-items-center mt-3 dashboard-card" style="background: linear-gradient(0deg, rgba(50,50,50,1) 5%, rgba(235,235,235,0) 43%, rgba(255,255,255,0) 49%);">
    <% unless @sessions.nil? %>
    <% @sessions.each do |session|%>
      <div class="col-2">
        <div class="beef-card-avatar-dashboard">
          <%= cl_image_tag session.user.avatar %>
        </div>
      </div>

      <div class="col-2">
          <h5 class="mt-2">  <%= session.price*2 %>$</h5>
          <%= session.user_invites.first.status %>
      </div>

      <div class="col-2">
        <%= link_to lobby_session_path(session.lobby, session), class:"d-flex align-items-center justify-content-between" do %>
          <i class="far fa-eye"></i>
        <% end %>
      </div>

      <div class="col-6 d-flex justify-content-end">
        <% if session.user_invites.first.user == current_user %>
          <%= link_to 'cancel', cancel_path(user_invite_id: session.user_invites.first.id, session_id: session.id), method: :patch  %>
        <% end %>
      </div>
    <% end %>
    <% end %>
  </div>
  <br>
  <h5>My sessions in progress</h5>
    <div class="row d-flex align-items-center mt-3 dashboard-card" style="background: linear-gradient(0deg, rgba(50,50,50,1) 5%, rgba(235,235,235,0) 43%, rgba(255,255,255,0) 49%);">
    <% @inprogresssessions.each do |session|%>
      <div class="col-4">
        <div class="beef-card-avatar-dashboard">
            <%= cl_image_tag session.user_invites.first.user.avatar %>
        </div>
      </div>
      <div class="col-4">
          <h5 class="mt-2">  <%= session.price*2 %>$</h5>
          <%= session.status %>
      </div>
      <div class="col-4">
        <%= link_to lobby_session_path(session.lobby, session), class:"d-flex align-items-center justify-content-between" do %>
          <i class="far fa-eye"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <br>
  <h5>History of my past sessions</h5>
  <div class="row d-flex align-items-center mt-3 dashboard-card" style="background: linear-gradient(0deg, rgba(50,50,50,1) 5%, rgba(235,235,235,0) 43%, rgba(255,255,255,0) 49%);">
    <% @finished_sessions.each do |session|%>
      <div class="col-4">
        <div class="beef-card-avatar-dashboard">
            <%= cl_image_tag session.user_invites.first.user.avatar %>
        </div>
      </div>
      <div class="col-4">
        <% if session.winner == current_user.username %>
          <h5 class="mt-2" style="color:green;"> WON <%= session.price*2 %>$</h5>
        <% else %>
          <h5 class="mt-2" style="color:red;"> LOST <%= session.price*2 %>$</h5>
        <% end %>
      </div>
      <div class="col-4">
        <%= link_to lobby_session_path(session.lobby, session), class:"d-flex align-items-center justify-content-between" do %>
          <i class="far fa-eye"></i>
        <% end %>
      </div>
    <% end %>
  </div>


</div>
