<div class="container text-white">
<h1>Dashboards#show</h1>
  <h3>Pending requests on my sessions</h3>
<div class="row">
  <% @mysessions.each do |session|%>
      <% if (session.user == current_user) && (session.user_invites.first == 'pending') %>
    <div class="col-4">
      <p>
        <%= session.user_invites.first.user.username %>
      </p>
    </div>
        <div class="col-4">
            <%= session.user_invites.first.status %>
        </div>
        <div class="col-4 d-flex justify-content-end">
            <%= link_to 'accept', accept_path(user_invite_id: session.user_invites.first.id, session_id: session.id), method: :patch %>
            <%= link_to 'decline', decline_path(user_invite_id: session.user_invites.first.id, session_id: session.id), method: :patch  %>
          </div>
      <% end %>

    <% end %>
</div>
<div class="row">
  <% @sessions.each do |session|%>
    <div class="col-4">
      <p>
        <%= session.user.username %>
      </p>
    </div>
    <div class="col-4">
        <%= session.user_invites.first.status %>
    </div>
    <div class="col-4 d-flex justify-content-end">

      <% if session.user_invites.first.user == current_user %>
        <%= link_to 'cancel', cancel_path(user_invite_id: session.user_invites.first.id, session_id: session.id), method: :patch  %>
      <% end %>
      </div>
    <% end %>
</div>
</div>

